<div class="album py-5">
    <div *ngIf="Posts.length > 0; else elseBlock" class="container-fluid">
        <div class="row row-cols-auto">
            <div *ngFor="let post of Posts" class="col mb-5">
                <div class="card">
                    <a routerLink="/details/{{post.id}}">
                        <img class="bd-placeholder-img" width="100%" height="250" src="https://picsum.photos/350/250"/>
                        <div class="card-body text-center">
                            <h5>{{post.title}}</h5>
                            <p>{{post.description}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
    
<ng-template #elseBlock>Loading...</ng-template>
