<div class="container-fluid">
    <form class="form-signin" #registrateForm="ngForm" (ngSubmit)="register(registrateForm)">
        <div class="row justify-content-center mt-5">
            <h2 class="form-signin-heading">Register</h2>
        </div>
        <div class="row my-2 justify-content-center">
            <div class="col-5">
                <div *ngIf="invalidRegistration" class="alert alert-danger">Username already in use</div>
            </div>
        </div>
        <div class="row my-2 justify-content-center">
            <div class="col-5">
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" ngModel class="form-control" placeholder="Username" required autofocus>
            </div>
        </div>
        <div class="row my-2 justify-content-center">
            <div class="col-5">
                <label for="password" class="sr-only"></label>
                <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </div>
        </div>
    </form>
    <div class="row mt-1 justify-content-center">
        <div class="col-5 d-flex justify-content-end">
            <span for="login">Already have an account? 
                <a id="login" [routerLink]="['/login']">Login here</a>
            </span>
        </div>
    </div>
</div>