@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { 
    height: 100%;
    background-color: rgb(99, 99, 99);
}

body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
